/* transform animation */
*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
	--tw-shadow: 0 0 #0000;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-blur: var(--tw-empty,/*!*/ /*!*/);
	--tw-brightness: var(--tw-empty,/*!*/ /*!*/);
	--tw-contrast: var(--tw-empty,/*!*/ /*!*/);
	--tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
	--tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
	--tw-invert: var(--tw-empty,/*!*/ /*!*/);
	--tw-saturate: var(--tw-empty,/*!*/ /*!*/);
	--tw-sepia: var(--tw-empty,/*!*/ /*!*/);
	--tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
	--tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	--tw-backdrop-blur: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-brightness: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-contrast: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-grayscale: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-invert: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-opacity: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-saturate: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-sepia: var(--tw-empty,/*!*/ /*!*/);
	--tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.duration-300 {
	transition-duration: 300ms;
}

.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .dark\:translate-x-3 {
	--tw-translate-x: 0.75rem;
	transform: var(--tw-transform);
}


/* BG COLOR */
.dark .dark\:bg-slate-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(248, 250, 252, var(--tw-bg-opacity));
}
.dark .dark\:bg-slate-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
}
.dark .dark\:bg-slate-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
}
.dark .dark\:bg-slate-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(203, 213, 225, var(--tw-bg-opacity));
}
.dark .dark\:bg-slate-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(148, 163, 184, var(--tw-bg-opacity));
}
.dark .dark\:bg-slate-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(100, 116, 139, var(--tw-bg-opacity));
}
.dark .dark\:bg-slate-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(71, 85, 105, var(--tw-bg-opacity));
}
.dark .dark\:bg-slate-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(51, 65, 85, var(--tw-bg-opacity));
}
.dark .dark\:bg-slate-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(30, 41, 59, var(--tw-bg-opacity));
}
.dark .dark\:bg-slate-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(15, 23, 42, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(156, 163, 175, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(75, 85, 99, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}
.dark .dark\:bg-zinc-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}
.dark .dark\:bg-zinc-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}
.dark .dark\:bg-zinc-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(228, 228, 231, var(--tw-bg-opacity));
}
.dark .dark\:bg-zinc-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(212, 212, 216, var(--tw-bg-opacity));
}
.dark .dark\:bg-zinc-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(161, 161, 170, var(--tw-bg-opacity));
}
.dark .dark\:bg-zinc-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(113, 113, 122, var(--tw-bg-opacity));
}
.dark .dark\:bg-zinc-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(82, 82, 91, var(--tw-bg-opacity));
}
.dark .dark\:bg-zinc-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(63, 63, 70, var(--tw-bg-opacity));
}
.dark .dark\:bg-zinc-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(39, 39, 42, var(--tw-bg-opacity));
}
.dark .dark\:bg-zinc-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
}
.dark .dark\:bg-neutral-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}
.dark .dark\:bg-neutral-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
}
.dark .dark\:bg-neutral-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(229, 229, 229, var(--tw-bg-opacity));
}
.dark .dark\:bg-neutral-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(212, 212, 212, var(--tw-bg-opacity));
}
.dark .dark\:bg-neutral-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(163, 163, 163, var(--tw-bg-opacity));
}
.dark .dark\:bg-neutral-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(115, 115, 115, var(--tw-bg-opacity));
}
.dark .dark\:bg-neutral-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(82, 82, 82, var(--tw-bg-opacity));
}
.dark .dark\:bg-neutral-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(64, 64, 64, var(--tw-bg-opacity));
}
.dark .dark\:bg-neutral-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(38, 38, 38, var(--tw-bg-opacity));
}
.dark .dark\:bg-neutral-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(23, 23, 23, var(--tw-bg-opacity));
}
.dark .dark\:bg-stone-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 250, 249, var(--tw-bg-opacity));
}
.dark .dark\:bg-stone-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(245, 245, 244, var(--tw-bg-opacity));
}
.dark .dark\:bg-stone-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(231, 229, 228, var(--tw-bg-opacity));
}
.dark .dark\:bg-stone-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(214, 211, 209, var(--tw-bg-opacity));
}
.dark .dark\:bg-stone-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(168, 162, 158, var(--tw-bg-opacity));
}
.dark .dark\:bg-stone-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(120, 113, 108, var(--tw-bg-opacity));
}
.dark .dark\:bg-stone-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(87, 83, 78, var(--tw-bg-opacity));
}
.dark .dark\:bg-stone-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(68, 64, 60, var(--tw-bg-opacity));
}
.dark .dark\:bg-stone-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(41, 37, 36, var(--tw-bg-opacity));
}
.dark .dark\:bg-stone-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(28, 25, 23, var(--tw-bg-opacity));
}
.dark .dark\:bg-red-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 242, 242, var(--tw-bg-opacity));
}
.dark .dark\:bg-red-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
}
.dark .dark\:bg-red-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 202, 202 , var(--tw-bg-opacity));
}
.dark .dark\:bg-red-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(252, 165, 165, var(--tw-bg-opacity));
}
.dark .dark\:bg-red-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(248, 113, 113, var(--tw-bg-opacity));
}
.dark .dark\:bg-red-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
}
.dark .dark\:bg-red-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
}
.dark .dark\:bg-red-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(185, 28, 28, var(--tw-bg-opacity));
}
.dark .dark\:bg-red-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(153, 27, 27, var(--tw-bg-opacity));
}
.dark .dark\:bg-red-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(127, 29, 29, var(--tw-bg-opacity));
}
.dark .dark\:bg-orange-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 247, 237, var(--tw-bg-opacity));
}
.dark .dark\:bg-orange-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 237, 213, var(--tw-bg-opacity));
}
.dark .dark\:bg-orange-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 215, 170, var(--tw-bg-opacity));
}
.dark .dark\:bg-orange-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(253, 186, 116, var(--tw-bg-opacity));
}
.dark .dark\:bg-orange-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(251, 146, 60, var(--tw-bg-opacity));
}
.dark .dark\:bg-orange-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(249, 115, 22, var(--tw-bg-opacity));
}
.dark .dark\:bg-orange-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(234, 88, 12, var(--tw-bg-opacity));
}
.dark .dark\:bg-orange-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(194, 65, 12, var(--tw-bg-opacity));
}
.dark .dark\:bg-orange-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(154, 52, 18, var(--tw-bg-opacity));
}
.dark .dark\:bg-orange-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(124, 45, 18, var(--tw-bg-opacity));
}
.dark .dark\:bg-amber-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 251, 235, var(--tw-bg-opacity));
}
.dark .dark\:bg-amber-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 243, 199, var(--tw-bg-opacity));
}
.dark .dark\:bg-amber-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(253, 230, 138, var(--tw-bg-opacity));
}
.dark .dark\:bg-amber-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(252, 211, 77, var(--tw-bg-opacity));
}
.dark .dark\:bg-amber-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
}
.dark .dark\:bg-amber-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}
.dark .dark\:bg-amber-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(217, 119, 6, var(--tw-bg-opacity));
}
.dark .dark\:bg-amber-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(180, 83, 9, var(--tw-bg-opacity));
}
.dark .dark\:bg-amber-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(146, 64, 14, var(--tw-bg-opacity));
}
.dark .dark\:bg-amber-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(120, 53, 15, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 252, 232, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 249, 195, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 240, 138, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(253, 224, 71, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 204, 21, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(234, 179, 8, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(202, 138, 4, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(161, 98, 7, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(133, 77, 14, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(113, 63, 18, var(--tw-bg-opacity));
}
.dark .dark\:bg-lime-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(247, 254, 231, var(--tw-bg-opacity));
}
.dark .dark\:bg-lime-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(236, 252, 203, var(--tw-bg-opacity));
}
.dark .dark\:bg-lime-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(217, 249, 157, var(--tw-bg-opacity));
}
.dark .dark\:bg-lime-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(190, 242, 100, var(--tw-bg-opacity));
}
.dark .dark\:bg-lime-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(163, 230, 53, var(--tw-bg-opacity));
}
.dark .dark\:bg-lime-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(132, 204, 22, var(--tw-bg-opacity));
}
.dark .dark\:bg-lime-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(101, 163, 13, var(--tw-bg-opacity));
}
.dark .dark\:bg-lime-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(77, 124, 15, var(--tw-bg-opacity));
}
.dark .dark\:bg-lime-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(63, 98, 18, var(--tw-bg-opacity));
}
.dark .dark\:bg-lime-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(54, 83, 20, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(240, 253, 244, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(220, 252, 231, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(187, 247, 208, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(134, 239, 172, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(74, 222, 128, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(34, 197, 94, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(22, 163, 74, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(21, 128, 61, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(22, 101, 52, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(20, 83, 45, var(--tw-bg-opacity));
}
.dark .dark\:bg-emerald-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(236, 253, 245, var(--tw-bg-opacity));
}
.dark .dark\:bg-emerald-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
}
.dark .dark\:bg-emerald-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(167, 243, 208, var(--tw-bg-opacity));
}
.dark .dark\:bg-emerald-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(110, 231, 183, var(--tw-bg-opacity));
}
.dark .dark\:bg-emerald-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(52, 211, 153, var(--tw-bg-opacity));
}
.dark .dark\:bg-emerald-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}
.dark .dark\:bg-emerald-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
}
.dark .dark\:bg-emerald-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(4, 120, 87, var(--tw-bg-opacity));
}
.dark .dark\:bg-emerald-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(6, 95, 70, var(--tw-bg-opacity));
}
.dark .dark\:bg-emerald-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(6, 78, 59, var(--tw-bg-opacity));
}
.dark .dark\:bg-teal-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(240, 253, 250, var(--tw-bg-opacity));
}
.dark .dark\:bg-teal-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(204, 251, 241, var(--tw-bg-opacity));
}
.dark .dark\:bg-teal-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(153, 246, 228, var(--tw-bg-opacity));
}
.dark .dark\:bg-teal-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(94, 234, 212, var(--tw-bg-opacity));
}
.dark .dark\:bg-teal-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(45, 212, 191, var(--tw-bg-opacity));
}
.dark .dark\:bg-teal-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(20, 184, 166, var(--tw-bg-opacity));
}
.dark .dark\:bg-teal-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(13, 148, 136, var(--tw-bg-opacity));
}
.dark .dark\:bg-teal-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(15, 118, 110, var(--tw-bg-opacity));
}
.dark .dark\:bg-teal-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(17, 94, 89, var(--tw-bg-opacity));
}
.dark .dark\:bg-teal-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(19, 78, 74, var(--tw-bg-opacity));
}
.dark .dark\:bg-cyan-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(236, 254, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-cyan-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(207, 250, 254, var(--tw-bg-opacity));
}
.dark .dark\:bg-cyan-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(165, 243, 252, var(--tw-bg-opacity));
}
.dark .dark\:bg-cyan-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(103, 232, 249, var(--tw-bg-opacity));
}
.dark .dark\:bg-cyan-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(34, 211, 238, var(--tw-bg-opacity));
}
.dark .dark\:bg-cyan-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(6, 182, 212, var(--tw-bg-opacity));
}
.dark .dark\:bg-cyan-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(8, 145, 178, var(--tw-bg-opacity));
}
.dark .dark\:bg-cyan-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(14, 116, 144, var(--tw-bg-opacity));
}
.dark .dark\:bg-cyan-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(21, 94, 117, var(--tw-bg-opacity));
}
.dark .dark\:bg-cyan-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(22, 78, 99, var(--tw-bg-opacity));
}
.dark .dark\:bg-sky-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(240, 249, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-sky-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(224, 242, 254, var(--tw-bg-opacity));
}
.dark .dark\:bg-sky-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(186, 230, 253, var(--tw-bg-opacity));
}
.dark .dark\:bg-sky-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(125, 211, 252, var(--tw-bg-opacity));
}
.dark .dark\:bg-sky-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(56, 189, 248, var(--tw-bg-opacity));
}
.dark .dark\:bg-sky-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(14, 165, 233, var(--tw-bg-opacity));
}
.dark .dark\:bg-sky-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(2, 132, 199, var(--tw-bg-opacity));
}
.dark .dark\:bg-sky-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(3, 105, 161, var(--tw-bg-opacity));
}
.dark .dark\:bg-sky-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(7, 89, 133, var(--tw-bg-opacity));
}
.dark .dark\:bg-sky-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(12, 74, 110, var(--tw-bg-opacity));
}
.dark .dark\:bg-blue-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(239, 246, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-blue-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
}
.dark .dark\:bg-blue-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(191, 219, 254, var(--tw-bg-opacity));
}
.dark .dark\:bg-blue-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
}
.dark .dark\:bg-blue-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(96, 165, 250, var(--tw-bg-opacity));
}
.dark .dark\:bg-blue-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}
.dark .dark\:bg-blue-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}
.dark .dark\:bg-blue-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(29, 78, 216, var(--tw-bg-opacity));
}
.dark .dark\:bg-blue-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(30, 64, 175, var(--tw-bg-opacity));
}
.dark .dark\:bg-blue-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(30, 58, 138, var(--tw-bg-opacity));
}
.dark .dark\:bg-indigo-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(238, 242, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-indigo-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(224, 231, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-indigo-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(199, 210, 254, var(--tw-bg-opacity));
}
.dark .dark\:bg-indigo-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(165, 180, 252, var(--tw-bg-opacity));
}
.dark .dark\:bg-indigo-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(129, 140, 248, var(--tw-bg-opacity));
}
.dark .dark\:bg-indigo-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
}
.dark .dark\:bg-indigo-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}
.dark .dark\:bg-indigo-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(67, 56, 202, var(--tw-bg-opacity));
}
.dark .dark\:bg-indigo-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(55, 48, 163, var(--tw-bg-opacity));
}
.dark .dark\:bg-indigo-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(49, 46, 129, var(--tw-bg-opacity));
}
.dark .dark\:bg-violet-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(245, 243, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-violet-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(237, 233, 254, var(--tw-bg-opacity));
}
.dark .dark\:bg-violet-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(221, 214, 254, var(--tw-bg-opacity));
}
.dark .dark\:bg-violet-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(196, 181, 253, var(--tw-bg-opacity));
}
.dark .dark\:bg-violet-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(167, 139, 250, var(--tw-bg-opacity));
}
.dark .dark\:bg-violet-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(139, 92, 246, var(--tw-bg-opacity));
}
.dark .dark\:bg-violet-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(124, 58, 237, var(--tw-bg-opacity));
}
.dark .dark\:bg-violet-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(109, 40, 217, var(--tw-bg-opacity));
}
.dark .dark\:bg-violet-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(91, 33, 182, var(--tw-bg-opacity));
}
.dark .dark\:bg-violet-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(76, 29, 149, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 245, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(243, 232, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(233, 213, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(216, 180, 254, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(192, 132, 252, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(168, 85, 247, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(147, 51, 234, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(126, 34, 206, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(107, 33, 168, var(--tw-bg-opacity));
}
.dark .dark\:bg-purple-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(88, 28, 135, var(--tw-bg-opacity));
}
.dark .dark\:bg-fuchsia-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(253, 244, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-fuchsia-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 232, 255, var(--tw-bg-opacity));
}
.dark .dark\:bg-fuchsia-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(245, 208, 254, var(--tw-bg-opacity));
}
.dark .dark\:bg-fuchsia-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(240, 171, 252, var(--tw-bg-opacity));
}
.dark .dark\:bg-fuchsia-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(232, 121, 249, var(--tw-bg-opacity));
}
.dark .dark\:bg-fuchsia-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(217, 70, 239, var(--tw-bg-opacity));
}
.dark .dark\:bg-fuchsia-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(192, 38, 211, var(--tw-bg-opacity));
}
.dark .dark\:bg-fuchsia-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(162, 28, 175, var(--tw-bg-opacity));
}
.dark .dark\:bg-fuchsia-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(134, 25, 143, var(--tw-bg-opacity));
}
.dark .dark\:bg-fuchsia-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(112, 26, 117, var(--tw-bg-opacity));
}
.dark .dark\:bg-pink-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(253, 242, 248, var(--tw-bg-opacity));
}
.dark .dark\:bg-pink-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(252, 231, 243, var(--tw-bg-opacity));
}
.dark .dark\:bg-pink-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(251, 207, 232, var(--tw-bg-opacity));
}
.dark .dark\:bg-pink-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(249, 168, 212, var(--tw-bg-opacity));
}
.dark .dark\:bg-pink-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 114, 182, var(--tw-bg-opacity));
}
.dark .dark\:bg-pink-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(236, 72, 153, var(--tw-bg-opacity));
}
.dark .dark\:bg-pink-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(219, 39, 119, var(--tw-bg-opacity));
}
.dark .dark\:bg-pink-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(190, 24, 93, var(--tw-bg-opacity));
}
.dark .dark\:bg-pink-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(157, 23, 77, var(--tw-bg-opacity));
}
.dark .dark\:bg-pink-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(131, 24, 67, var(--tw-bg-opacity));
}
.dark .dark\:bg-rose-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 241, 242, var(--tw-bg-opacity));
}
.dark .dark\:bg-rose-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 228, 230, var(--tw-bg-opacity));
}
.dark .dark\:bg-rose-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 205, 211, var(--tw-bg-opacity));
}
.dark .dark\:bg-rose-300 {
	--tw-bg-opacity: 1;
	background-color: rgba(253, 164, 175, var(--tw-bg-opacity));
}
.dark .dark\:bg-rose-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(251, 113, 133, var(--tw-bg-opacity));
}
.dark .dark\:bg-rose-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 63, 94, var(--tw-bg-opacity));
}
.dark .dark\:bg-rose-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(225, 29, 72, var(--tw-bg-opacity));
}
.dark .dark\:bg-rose-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(190, 18, 60, var(--tw-bg-opacity));
}
.dark .dark\:bg-rose-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(159, 18, 57, var(--tw-bg-opacity));
}
.dark .dark\:bg-rose-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(136, 19, 55, var(--tw-bg-opacity));
}




/* TEXT COLOR */
.dark .dark\:text-slate-50 {
	--tw-text-opacity: 1;
	color: rgba(248, 250, 252, var(--tw-text-opacity));
}
.dark .dark\:text-slate-100 {
	--tw-text-opacity: 1;
	color: rgba(241, 245, 249, var(--tw-text-opacity));
}
.dark .dark\:text-slate-200 {
	--tw-text-opacity: 1;
	color: rgba(226, 232, 240, var(--tw-text-opacity));
}
.dark .dark\:text-slate-300 {
	--tw-text-opacity: 1;
	color: rgba(203, 213, 225, var(--tw-text-opacity));
}
.dark .dark\:text-slate-400 {
	--tw-text-opacity: 1;
	color: rgba(148, 163, 184, var(--tw-text-opacity));
}
.dark .dark\:text-slate-500 {
	--tw-text-opacity: 1;
	color: rgba(100, 116, 139, var(--tw-text-opacity));
}
.dark .dark\:text-slate-600 {
	--tw-text-opacity: 1;
	color: rgba(71, 85, 105, var(--tw-text-opacity));
}
.dark .dark\:text-slate-700 {
	--tw-text-opacity: 1;
	color: rgba(51, 65, 85, var(--tw-text-opacity));
}
.dark .dark\:text-slate-800 {
	--tw-text-opacity: 1;
	color: rgba(30, 41, 59, var(--tw-text-opacity));
}
.dark .dark\:text-slate-900 {
	--tw-text-opacity: 1;
	color: rgba(15, 23, 42, var(--tw-text-opacity));
}
.dark .dark\:text-gray-50 {
	--tw-text-opacity: 1;
	color: rgba(249, 250, 251, var(--tw-text-opacity));
}
.dark .dark\:text-gray-100 {
	--tw-text-opacity: 1;
	color: rgba(243, 244, 246, var(--tw-text-opacity));
}
.dark .dark\:text-gray-200 {
	--tw-text-opacity: 1;
	color: rgba(229, 231, 235, var(--tw-text-opacity));
}
.dark .dark\:text-gray-300 {
	--tw-text-opacity: 1;
	color: rgba(209, 213, 219, var(--tw-text-opacity));
}
.dark .dark\:text-gray-400 {
	--tw-text-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-text-opacity));
}
.dark .dark\:text-gray-500 {
	--tw-text-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-text-opacity));
}
.dark .dark\:text-gray-600 {
	--tw-text-opacity: 1;
	color: rgba(75, 85, 99, var(--tw-text-opacity));
}
.dark .dark\:text-gray-700 {
	--tw-text-opacity: 1;
	color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.dark .dark\:text-gray-800 {
	--tw-text-opacity: 1;
	color: rgba(31, 41, 55, var(--tw-text-opacity));
}
.dark .dark\:text-gray-900 {
	--tw-text-opacity: 1;
	color: rgba(17, 24, 39, var(--tw-text-opacity));
}
.dark .dark\:text-zinc-50 {
	--tw-text-opacity: 1;
	color: rgba(250, 250, 250, var(--tw-text-opacity));
}
.dark .dark\:text-zinc-100 {
	--tw-text-opacity: 1;
	color: rgba(244, 244, 245, var(--tw-text-opacity));
}
.dark .dark\:text-zinc-200 {
	--tw-text-opacity: 1;
	color: rgba(228, 228, 231, var(--tw-text-opacity));
}
.dark .dark\:text-zinc-300 {
	--tw-text-opacity: 1;
	color: rgba(212, 212, 216, var(--tw-text-opacity));
}
.dark .dark\:text-zinc-400 {
	--tw-text-opacity: 1;
	color: rgba(161, 161, 170, var(--tw-text-opacity));
}
.dark .dark\:text-zinc-500 {
	--tw-text-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-text-opacity));
}
.dark .dark\:text-zinc-600 {
	--tw-text-opacity: 1;
	color: rgba(82, 82, 91, var(--tw-text-opacity));
}
.dark .dark\:text-zinc-700 {
	--tw-text-opacity: 1;
	color: rgba(63, 63, 70, var(--tw-text-opacity));
}
.dark .dark\:text-zinc-800 {
	--tw-text-opacity: 1;
	color: rgba(39, 39, 42, var(--tw-text-opacity));
}
.dark .dark\:text-zinc-900 {
	--tw-text-opacity: 1;
	color: rgba(24, 24, 27, var(--tw-text-opacity));
}
.dark .dark\:text-neutral-50 {
	--tw-text-opacity: 1;
	color: rgba(250, 250, 250, var(--tw-text-opacity));
}
.dark .dark\:text-neutral-100 {
	--tw-text-opacity: 1;
	color: rgba(245, 245, 245, var(--tw-text-opacity));
}
.dark .dark\:text-neutral-200 {
	--tw-text-opacity: 1;
	color: rgba(229, 229, 229, var(--tw-text-opacity));
}
.dark .dark\:text-neutral-300 {
	--tw-text-opacity: 1;
	color: rgba(212, 212, 212, var(--tw-text-opacity));
}
.dark .dark\:text-neutral-400 {
	--tw-text-opacity: 1;
	color: rgba(163, 163, 163, var(--tw-text-opacity));
}
.dark .dark\:text-neutral-500 {
	--tw-text-opacity: 1;
	color: rgba(115, 115, 115, var(--tw-text-opacity));
}
.dark .dark\:text-neutral-600 {
	--tw-text-opacity: 1;
	color: rgba(82, 82, 82, var(--tw-text-opacity));
}
.dark .dark\:text-neutral-700 {
	--tw-text-opacity: 1;
	color: rgba(64, 64, 64, var(--tw-text-opacity));
}
.dark .dark\:text-neutral-800 {
	--tw-text-opacity: 1;
	color: rgba(38, 38, 38, var(--tw-text-opacity));
}
.dark .dark\:text-neutral-900 {
	--tw-text-opacity: 1;
	color: rgba(23, 23, 23, var(--tw-text-opacity));
}
.dark .dark\:text-stone-50 {
	--tw-text-opacity: 1;
	color: rgba(250, 250, 249, var(--tw-text-opacity));
}
.dark .dark\:text-stone-100 {
	--tw-text-opacity: 1;
	color: rgba(245, 245, 244, var(--tw-text-opacity));
}
.dark .dark\:text-stone-200 {
	--tw-text-opacity: 1;
	color: rgba(231, 229, 228, var(--tw-text-opacity));
}
.dark .dark\:text-stone-300 {
	--tw-text-opacity: 1;
	color: rgba(214, 211, 209, var(--tw-text-opacity));
}
.dark .dark\:text-stone-400 {
	--tw-text-opacity: 1;
	color: rgba(168, 162, 158, var(--tw-text-opacity));
}
.dark .dark\:text-stone-500 {
	--tw-text-opacity: 1;
	color: rgba(120, 113, 108, var(--tw-text-opacity));
}
.dark .dark\:text-stone-600 {
	--tw-text-opacity: 1;
	color: rgba(87, 83, 78, var(--tw-text-opacity));
}
.dark .dark\:text-stone-700 {
	--tw-text-opacity: 1;
	color: rgba(68, 64, 60, var(--tw-text-opacity));
}
.dark .dark\:text-stone-800 {
	--tw-text-opacity: 1;
	color: rgba(41, 37, 36, var(--tw-text-opacity));
}
.dark .dark\:text-stone-900 {
	--tw-text-opacity: 1;
	color: rgba(28, 25, 23, var(--tw-text-opacity));
}
.dark .dark\:text-red-50 {
	--tw-text-opacity: 1;
	color: rgba(254, 242, 242, var(--tw-text-opacity));
}
.dark .dark\:text-red-100 {
	--tw-text-opacity: 1;
	color: rgba(254, 226, 226, var(--tw-text-opacity));
}
.dark .dark\:text-red-200 {
	--tw-text-opacity: 1;
	color: rgba(254, 202, 202 , var(--tw-text-opacity));
}
.dark .dark\:text-red-300 {
	--tw-text-opacity: 1;
	color: rgba(252, 165, 165, var(--tw-text-opacity));
}
.dark .dark\:text-red-400 {
	--tw-text-opacity: 1;
	color: rgba(248, 113, 113, var(--tw-text-opacity));
}
.dark .dark\:text-red-500 {
	--tw-text-opacity: 1;
	color: rgba(239, 68, 68, var(--tw-text-opacity));
}
.dark .dark\:text-red-600 {
	--tw-text-opacity: 1;
	color: rgba(220, 38, 38, var(--tw-text-opacity));
}
.dark .dark\:text-red-700 {
	--tw-text-opacity: 1;
	color: rgba(185, 28, 28, var(--tw-text-opacity));
}
.dark .dark\:text-red-800 {
	--tw-text-opacity: 1;
	color: rgba(153, 27, 27, var(--tw-text-opacity));
}
.dark .dark\:text-red-900 {
	--tw-text-opacity: 1;
	color: rgba(127, 29, 29, var(--tw-text-opacity));
}
.dark .dark\:text-orange-50 {
	--tw-text-opacity: 1;
	color: rgba(255, 247, 237, var(--tw-text-opacity));
}
.dark .dark\:text-orange-100 {
	--tw-text-opacity: 1;
	color: rgba(255, 237, 213, var(--tw-text-opacity));
}
.dark .dark\:text-orange-200 {
	--tw-text-opacity: 1;
	color: rgba(254, 215, 170, var(--tw-text-opacity));
}
.dark .dark\:text-orange-300 {
	--tw-text-opacity: 1;
	color: rgba(253, 186, 116, var(--tw-text-opacity));
}
.dark .dark\:text-orange-400 {
	--tw-text-opacity: 1;
	color: rgba(251, 146, 60, var(--tw-text-opacity));
}
.dark .dark\:text-orange-500 {
	--tw-text-opacity: 1;
	color: rgba(249, 115, 22, var(--tw-text-opacity));
}
.dark .dark\:text-orange-600 {
	--tw-text-opacity: 1;
	color: rgba(234, 88, 12, var(--tw-text-opacity));
}
.dark .dark\:text-orange-700 {
	--tw-text-opacity: 1;
	color: rgba(194, 65, 12, var(--tw-text-opacity));
}
.dark .dark\:text-orange-800 {
	--tw-text-opacity: 1;
	color: rgba(154, 52, 18, var(--tw-text-opacity));
}
.dark .dark\:text-orange-900 {
	--tw-text-opacity: 1;
	color: rgba(124, 45, 18, var(--tw-text-opacity));
}
.dark .dark\:text-amber-50 {
	--tw-text-opacity: 1;
	color: rgba(255, 251, 235, var(--tw-text-opacity));
}
.dark .dark\:text-amber-100 {
	--tw-text-opacity: 1;
	color: rgba(254, 243, 199, var(--tw-text-opacity));
}
.dark .dark\:text-amber-200 {
	--tw-text-opacity: 1;
	color: rgba(253, 230, 138, var(--tw-text-opacity));
}
.dark .dark\:text-amber-300 {
	--tw-text-opacity: 1;
	color: rgba(252, 211, 77, var(--tw-text-opacity));
}
.dark .dark\:text-amber-400 {
	--tw-text-opacity: 1;
	color: rgba(251, 191, 36, var(--tw-text-opacity));
}
.dark .dark\:text-amber-500 {
	--tw-text-opacity: 1;
	color: rgba(245, 158, 11, var(--tw-text-opacity));
}
.dark .dark\:text-amber-600 {
	--tw-text-opacity: 1;
	color: rgba(217, 119, 6, var(--tw-text-opacity));
}
.dark .dark\:text-amber-700 {
	--tw-text-opacity: 1;
	color: rgba(180, 83, 9, var(--tw-text-opacity));
}
.dark .dark\:text-amber-800 {
	--tw-text-opacity: 1;
	color: rgba(146, 64, 14, var(--tw-text-opacity));
}
.dark .dark\:text-amber-900 {
	--tw-text-opacity: 1;
	color: rgba(120, 53, 15, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-50 {
	--tw-text-opacity: 1;
	color: rgba(254, 252, 232, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-100 {
	--tw-text-opacity: 1;
	color: rgba(254, 249, 195, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-200 {
	--tw-text-opacity: 1;
	color: rgba(254, 240, 138, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-300 {
	--tw-text-opacity: 1;
	color: rgba(253, 224, 71, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-400 {
	--tw-text-opacity: 1;
	color: rgba(250, 204, 21, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-500 {
	--tw-text-opacity: 1;
	color: rgba(234, 179, 8, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-600 {
	--tw-text-opacity: 1;
	color: rgba(202, 138, 4, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-700 {
	--tw-text-opacity: 1;
	color: rgba(161, 98, 7, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-800 {
	--tw-text-opacity: 1;
	color: rgba(133, 77, 14, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-900 {
	--tw-text-opacity: 1;
	color: rgba(113, 63, 18, var(--tw-text-opacity));
}
.dark .dark\:text-lime-50 {
	--tw-text-opacity: 1;
	color: rgba(247, 254, 231, var(--tw-text-opacity));
}
.dark .dark\:text-lime-100 {
	--tw-text-opacity: 1;
	color: rgba(236, 252, 203, var(--tw-text-opacity));
}
.dark .dark\:text-lime-200 {
	--tw-text-opacity: 1;
	color: rgba(217, 249, 157, var(--tw-text-opacity));
}
.dark .dark\:text-lime-300 {
	--tw-text-opacity: 1;
	color: rgba(190, 242, 100, var(--tw-text-opacity));
}
.dark .dark\:text-lime-400 {
	--tw-text-opacity: 1;
	color: rgba(163, 230, 53, var(--tw-text-opacity));
}
.dark .dark\:text-lime-500 {
	--tw-text-opacity: 1;
	color: rgba(132, 204, 22, var(--tw-text-opacity));
}
.dark .dark\:text-lime-600 {
	--tw-text-opacity: 1;
	color: rgba(101, 163, 13, var(--tw-text-opacity));
}
.dark .dark\:text-lime-700 {
	--tw-text-opacity: 1;
	color: rgba(77, 124, 15, var(--tw-text-opacity));
}
.dark .dark\:text-lime-800 {
	--tw-text-opacity: 1;
	color: rgba(63, 98, 18, var(--tw-text-opacity));
}
.dark .dark\:text-lime-900 {
	--tw-text-opacity: 1;
	color: rgba(54, 83, 20, var(--tw-text-opacity));
}
.dark .dark\:text-green-50 {
	--tw-text-opacity: 1;
	color: rgba(240, 253, 244, var(--tw-text-opacity));
}
.dark .dark\:text-green-100 {
	--tw-text-opacity: 1;
	color: rgba(220, 252, 231, var(--tw-text-opacity));
}
.dark .dark\:text-green-200 {
	--tw-text-opacity: 1;
	color: rgba(187, 247, 208, var(--tw-text-opacity));
}
.dark .dark\:text-green-300 {
	--tw-text-opacity: 1;
	color: rgba(134, 239, 172, var(--tw-text-opacity));
}
.dark .dark\:text-green-400 {
	--tw-text-opacity: 1;
	color: rgba(74, 222, 128, var(--tw-text-opacity));
}
.dark .dark\:text-green-500 {
	--tw-text-opacity: 1;
	color: rgba(34, 197, 94, var(--tw-text-opacity));
}
.dark .dark\:text-green-600 {
	--tw-text-opacity: 1;
	color: rgba(22, 163, 74, var(--tw-text-opacity));
}
.dark .dark\:text-green-700 {
	--tw-text-opacity: 1;
	color: rgba(21, 128, 61, var(--tw-text-opacity));
}
.dark .dark\:text-green-800 {
	--tw-text-opacity: 1;
	color: rgba(22, 101, 52, var(--tw-text-opacity));
}
.dark .dark\:text-green-900 {
	--tw-text-opacity: 1;
	color: rgba(20, 83, 45, var(--tw-text-opacity));
}
.dark .dark\:text-emerald-50 {
	--tw-text-opacity: 1;
	color: rgba(236, 253, 245, var(--tw-text-opacity));
}
.dark .dark\:text-emerald-100 {
	--tw-text-opacity: 1;
	color: rgba(209, 250, 229, var(--tw-text-opacity));
}
.dark .dark\:text-emerald-200 {
	--tw-text-opacity: 1;
	color: rgba(167, 243, 208, var(--tw-text-opacity));
}
.dark .dark\:text-emerald-300 {
	--tw-text-opacity: 1;
	color: rgba(110, 231, 183, var(--tw-text-opacity));
}
.dark .dark\:text-emerald-400 {
	--tw-text-opacity: 1;
	color: rgba(52, 211, 153, var(--tw-text-opacity));
}
.dark .dark\:text-emerald-500 {
	--tw-text-opacity: 1;
	color: rgba(16, 185, 129, var(--tw-text-opacity));
}
.dark .dark\:text-emerald-600 {
	--tw-text-opacity: 1;
	color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.dark .dark\:text-emerald-700 {
	--tw-text-opacity: 1;
	color: rgba(4, 120, 87, var(--tw-text-opacity));
}
.dark .dark\:text-emerald-800 {
	--tw-text-opacity: 1;
	color: rgba(6, 95, 70, var(--tw-text-opacity));
}
.dark .dark\:text-emerald-900 {
	--tw-text-opacity: 1;
	color: rgba(6, 78, 59, var(--tw-text-opacity));
}
.dark .dark\:text-teal-50 {
	--tw-text-opacity: 1;
	color: rgba(240, 253, 250, var(--tw-text-opacity));
}
.dark .dark\:text-teal-100 {
	--tw-text-opacity: 1;
	color: rgba(204, 251, 241, var(--tw-text-opacity));
}
.dark .dark\:text-teal-200 {
	--tw-text-opacity: 1;
	color: rgba(153, 246, 228, var(--tw-text-opacity));
}
.dark .dark\:text-teal-300 {
	--tw-text-opacity: 1;
	color: rgba(94, 234, 212, var(--tw-text-opacity));
}
.dark .dark\:text-teal-400 {
	--tw-text-opacity: 1;
	color: rgba(45, 212, 191, var(--tw-text-opacity));
}
.dark .dark\:text-teal-500 {
	--tw-text-opacity: 1;
	color: rgba(20, 184, 166, var(--tw-text-opacity));
}
.dark .dark\:text-teal-600 {
	--tw-text-opacity: 1;
	color: rgba(13, 148, 136, var(--tw-text-opacity));
}
.dark .dark\:text-teal-700 {
	--tw-text-opacity: 1;
	color: rgba(15, 118, 110, var(--tw-text-opacity));
}
.dark .dark\:text-teal-800 {
	--tw-text-opacity: 1;
	color: rgba(17, 94, 89, var(--tw-text-opacity));
}
.dark .dark\:text-teal-900 {
	--tw-text-opacity: 1;
	color: rgba(19, 78, 74, var(--tw-text-opacity));
}
.dark .dark\:text-cyan-50 {
	--tw-text-opacity: 1;
	color: rgba(236, 254, 255, var(--tw-text-opacity));
}
.dark .dark\:text-cyan-100 {
	--tw-text-opacity: 1;
	color: rgba(207, 250, 254, var(--tw-text-opacity));
}
.dark .dark\:text-cyan-200 {
	--tw-text-opacity: 1;
	color: rgba(165, 243, 252, var(--tw-text-opacity));
}
.dark .dark\:text-cyan-300 {
	--tw-text-opacity: 1;
	color: rgba(103, 232, 249, var(--tw-text-opacity));
}
.dark .dark\:text-cyan-400 {
	--tw-text-opacity: 1;
	color: rgba(34, 211, 238, var(--tw-text-opacity));
}
.dark .dark\:text-cyan-500 {
	--tw-text-opacity: 1;
	color: rgba(6, 182, 212, var(--tw-text-opacity));
}
.dark .dark\:text-cyan-600 {
	--tw-text-opacity: 1;
	color: rgba(8, 145, 178, var(--tw-text-opacity));
}
.dark .dark\:text-cyan-700 {
	--tw-text-opacity: 1;
	color: rgba(14, 116, 144, var(--tw-text-opacity));
}
.dark .dark\:text-cyan-800 {
	--tw-text-opacity: 1;
	color: rgba(21, 94, 117, var(--tw-text-opacity));
}
.dark .dark\:text-cyan-900 {
	--tw-text-opacity: 1;
	color: rgba(22, 78, 99, var(--tw-text-opacity));
}
.dark .dark\:text-sky-50 {
	--tw-text-opacity: 1;
	color: rgba(240, 249, 255, var(--tw-text-opacity));
}
.dark .dark\:text-sky-100 {
	--tw-text-opacity: 1;
	color: rgba(224, 242, 254, var(--tw-text-opacity));
}
.dark .dark\:text-sky-200 {
	--tw-text-opacity: 1;
	color: rgba(186, 230, 253, var(--tw-text-opacity));
}
.dark .dark\:text-sky-300 {
	--tw-text-opacity: 1;
	color: rgba(125, 211, 252, var(--tw-text-opacity));
}
.dark .dark\:text-sky-400 {
	--tw-text-opacity: 1;
	color: rgba(56, 189, 248, var(--tw-text-opacity));
}
.dark .dark\:text-sky-500 {
	--tw-text-opacity: 1;
	color: rgba(14, 165, 233, var(--tw-text-opacity));
}
.dark .dark\:text-sky-600 {
	--tw-text-opacity: 1;
	color: rgba(2, 132, 199, var(--tw-text-opacity));
}
.dark .dark\:text-sky-700 {
	--tw-text-opacity: 1;
	color: rgba(3, 105, 161, var(--tw-text-opacity));
}
.dark .dark\:text-sky-800 {
	--tw-text-opacity: 1;
	color: rgba(7, 89, 133, var(--tw-text-opacity));
}
.dark .dark\:text-sky-900 {
	--tw-text-opacity: 1;
	color: rgba(12, 74, 110, var(--tw-text-opacity));
}
.dark .dark\:text-blue-50 {
	--tw-text-opacity: 1;
	color: rgba(239, 246, 255, var(--tw-text-opacity));
}
.dark .dark\:text-blue-100 {
	--tw-text-opacity: 1;
	color: rgba(219, 234, 254, var(--tw-text-opacity));
}
.dark .dark\:text-blue-200 {
	--tw-text-opacity: 1;
	color: rgba(191, 219, 254, var(--tw-text-opacity));
}
.dark .dark\:text-blue-300 {
	--tw-text-opacity: 1;
	color: rgba(147, 197, 253, var(--tw-text-opacity));
}
.dark .dark\:text-blue-400 {
	--tw-text-opacity: 1;
	color: rgba(96, 165, 250, var(--tw-text-opacity));
}
.dark .dark\:text-blue-500 {
	--tw-text-opacity: 1;
	color: rgba(59, 130, 246, var(--tw-text-opacity));
}
.dark .dark\:text-blue-600 {
	--tw-text-opacity: 1;
	color: rgba(37, 99, 235, var(--tw-text-opacity));
}
.dark .dark\:text-blue-700 {
	--tw-text-opacity: 1;
	color: rgba(29, 78, 216, var(--tw-text-opacity));
}
.dark .dark\:text-blue-800 {
	--tw-text-opacity: 1;
	color: rgba(30, 64, 175, var(--tw-text-opacity));
}
.dark .dark\:text-blue-900 {
	--tw-text-opacity: 1;
	color: rgba(30, 58, 138, var(--tw-text-opacity));
}
.dark .dark\:text-indigo-50 {
	--tw-text-opacity: 1;
	color: rgba(238, 242, 255, var(--tw-text-opacity));
}
.dark .dark\:text-indigo-100 {
	--tw-text-opacity: 1;
	color: rgba(224, 231, 255, var(--tw-text-opacity));
}
.dark .dark\:text-indigo-200 {
	--tw-text-opacity: 1;
	color: rgba(199, 210, 254, var(--tw-text-opacity));
}
.dark .dark\:text-indigo-300 {
	--tw-text-opacity: 1;
	color: rgba(165, 180, 252, var(--tw-text-opacity));
}
.dark .dark\:text-indigo-400 {
	--tw-text-opacity: 1;
	color: rgba(129, 140, 248, var(--tw-text-opacity));
}
.dark .dark\:text-indigo-500 {
	--tw-text-opacity: 1;
	color: rgba(99, 102, 241, var(--tw-text-opacity));
}
.dark .dark\:text-indigo-600 {
	--tw-text-opacity: 1;
	color: rgba(79, 70, 229, var(--tw-text-opacity));
}
.dark .dark\:text-indigo-700 {
	--tw-text-opacity: 1;
	color: rgba(67, 56, 202, var(--tw-text-opacity));
}
.dark .dark\:text-indigo-800 {
	--tw-text-opacity: 1;
	color: rgba(55, 48, 163, var(--tw-text-opacity));
}
.dark .dark\:text-indigo-900 {
	--tw-text-opacity: 1;
	color: rgba(49, 46, 129, var(--tw-text-opacity));
}
.dark .dark\:text-violet-50 {
	--tw-text-opacity: 1;
	color: rgba(245, 243, 255, var(--tw-text-opacity));
}
.dark .dark\:text-violet-100 {
	--tw-text-opacity: 1;
	color: rgba(237, 233, 254, var(--tw-text-opacity));
}
.dark .dark\:text-violet-200 {
	--tw-text-opacity: 1;
	color: rgba(221, 214, 254, var(--tw-text-opacity));
}
.dark .dark\:text-violet-300 {
	--tw-text-opacity: 1;
	color: rgba(196, 181, 253, var(--tw-text-opacity));
}
.dark .dark\:text-violet-400 {
	--tw-text-opacity: 1;
	color: rgba(167, 139, 250, var(--tw-text-opacity));
}
.dark .dark\:text-violet-500 {
	--tw-text-opacity: 1;
	color: rgba(139, 92, 246, var(--tw-text-opacity));
}
.dark .dark\:text-violet-600 {
	--tw-text-opacity: 1;
	color: rgba(124, 58, 237, var(--tw-text-opacity));
}
.dark .dark\:text-violet-700 {
	--tw-text-opacity: 1;
	color: rgba(109, 40, 217, var(--tw-text-opacity));
}
.dark .dark\:text-violet-800 {
	--tw-text-opacity: 1;
	color: rgba(91, 33, 182, var(--tw-text-opacity));
}
.dark .dark\:text-violet-900 {
	--tw-text-opacity: 1;
	color: rgba(76, 29, 149, var(--tw-text-opacity));
}
.dark .dark\:text-purple-50 {
	--tw-text-opacity: 1;
	color: rgba(250, 245, 255, var(--tw-text-opacity));
}
.dark .dark\:text-purple-100 {
	--tw-text-opacity: 1;
	color: rgba(243, 232, 255, var(--tw-text-opacity));
}
.dark .dark\:text-purple-200 {
	--tw-text-opacity: 1;
	color: rgba(233, 213, 255, var(--tw-text-opacity));
}
.dark .dark\:text-purple-300 {
	--tw-text-opacity: 1;
	color: rgba(216, 180, 254, var(--tw-text-opacity));
}
.dark .dark\:text-purple-400 {
	--tw-text-opacity: 1;
	color: rgba(192, 132, 252, var(--tw-text-opacity));
}
.dark .dark\:text-purple-500 {
	--tw-text-opacity: 1;
	color: rgba(168, 85, 247, var(--tw-text-opacity));
}
.dark .dark\:text-purple-600 {
	--tw-text-opacity: 1;
	color: rgba(147, 51, 234, var(--tw-text-opacity));
}
.dark .dark\:text-purple-700 {
	--tw-text-opacity: 1;
	color: rgba(126, 34, 206, var(--tw-text-opacity));
}
.dark .dark\:text-purple-800 {
	--tw-text-opacity: 1;
	color: rgba(107, 33, 168, var(--tw-text-opacity));
}
.dark .dark\:text-purple-900 {
	--tw-text-opacity: 1;
	color: rgba(88, 28, 135, var(--tw-text-opacity));
}
.dark .dark\:text-fuchsia-50 {
	--tw-text-opacity: 1;
	color: rgba(253, 244, 255, var(--tw-text-opacity));
}
.dark .dark\:text-fuchsia-100 {
	--tw-text-opacity: 1;
	color: rgba(250, 232, 255, var(--tw-text-opacity));
}
.dark .dark\:text-fuchsia-200 {
	--tw-text-opacity: 1;
	color: rgba(245, 208, 254, var(--tw-text-opacity));
}
.dark .dark\:text-fuchsia-300 {
	--tw-text-opacity: 1;
	color: rgba(240, 171, 252, var(--tw-text-opacity));
}
.dark .dark\:text-fuchsia-400 {
	--tw-text-opacity: 1;
	color: rgba(232, 121, 249, var(--tw-text-opacity));
}
.dark .dark\:text-fuchsia-500 {
	--tw-text-opacity: 1;
	color: rgba(217, 70, 239, var(--tw-text-opacity));
}
.dark .dark\:text-fuchsia-600 {
	--tw-text-opacity: 1;
	color: rgba(192, 38, 211, var(--tw-text-opacity));
}
.dark .dark\:text-fuchsia-700 {
	--tw-text-opacity: 1;
	color: rgba(162, 28, 175, var(--tw-text-opacity));
}
.dark .dark\:text-fuchsia-800 {
	--tw-text-opacity: 1;
	color: rgba(134, 25, 143, var(--tw-text-opacity));
}
.dark .dark\:text-fuchsia-900 {
	--tw-text-opacity: 1;
	color: rgba(112, 26, 117, var(--tw-text-opacity));
}
.dark .dark\:text-pink-50 {
	--tw-text-opacity: 1;
	color: rgba(253, 242, 248, var(--tw-text-opacity));
}
.dark .dark\:text-pink-100 {
	--tw-text-opacity: 1;
	color: rgba(252, 231, 243, var(--tw-text-opacity));
}
.dark .dark\:text-pink-200 {
	--tw-text-opacity: 1;
	color: rgba(251, 207, 232, var(--tw-text-opacity));
}
.dark .dark\:text-pink-300 {
	--tw-text-opacity: 1;
	color: rgba(249, 168, 212, var(--tw-text-opacity));
}
.dark .dark\:text-pink-400 {
	--tw-text-opacity: 1;
	color: rgba(244, 114, 182, var(--tw-text-opacity));
}
.dark .dark\:text-pink-500 {
	--tw-text-opacity: 1;
	color: rgba(236, 72, 153, var(--tw-text-opacity));
}
.dark .dark\:text-pink-600 {
	--tw-text-opacity: 1;
	color: rgba(219, 39, 119, var(--tw-text-opacity));
}
.dark .dark\:text-pink-700 {
	--tw-text-opacity: 1;
	color: rgba(190, 24, 93, var(--tw-text-opacity));
}
.dark .dark\:text-pink-800 {
	--tw-text-opacity: 1;
	color: rgba(157, 23, 77, var(--tw-text-opacity));
}
.dark .dark\:text-pink-900 {
	--tw-text-opacity: 1;
	color: rgba(131, 24, 67, var(--tw-text-opacity));
}
.dark .dark\:text-rose-50 {
	--tw-text-opacity: 1;
	color: rgba(255, 241, 242, var(--tw-text-opacity));
}
.dark .dark\:text-rose-100 {
	--tw-text-opacity: 1;
	color: rgba(255, 228, 230, var(--tw-text-opacity));
}
.dark .dark\:text-rose-200 {
	--tw-text-opacity: 1;
	color: rgba(254, 205, 211, var(--tw-text-opacity));
}
.dark .dark\:text-rose-300 {
	--tw-text-opacity: 1;
	color: rgba(253, 164, 175, var(--tw-text-opacity));
}
.dark .dark\:text-rose-400 {
	--tw-text-opacity: 1;
	color: rgba(251, 113, 133, var(--tw-text-opacity));
}
.dark .dark\:text-rose-500 {
	--tw-text-opacity: 1;
	color: rgba(244, 63, 94, var(--tw-text-opacity));
}
.dark .dark\:text-rose-600 {
	--tw-text-opacity: 1;
	color: rgba(225, 29, 72, var(--tw-text-opacity));
}
.dark .dark\:text-rose-700 {
	--tw-text-opacity: 1;
	color: rgba(190, 18, 60, var(--tw-text-opacity));
}
.dark .dark\:text-rose-800 {
	--tw-text-opacity: 1;
	color: rgba(159, 18, 57, var(--tw-text-opacity));
}
.dark .dark\:text-rose-900 {
	--tw-text-opacity: 1;
	color: rgba(136, 19, 55, var(--tw-text-opacity));
}


.dark .dark\:text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
